<ion-header>
  <ion-toolbar>
    
    <ion-title>

      <!-- Searchbar with cancel button shown on focus -->
<ion-searchbar showCancelButton="focus" placeholder="Search for food or chefs nearby"></ion-searchbar>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>
Google Map with nearby chefs to be implemeneted here
</p>
<p>
Pop up a modal of nearest cooks
</p>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <ion-button expand="full" shape="round" fill="outline">Show Nearby Cooks</ion-button>
     
    </ion-title>
 
    </ion-toolbar>
</ion-footer>
